* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
.logo {
    width: 80px;
    height: auto;
    padding: 1em;
}
nav {
    display: flex;
}
ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 1.2em;
    margin: 5px;
}
ul a{
    text-decoration: none;
    color: bisque;
}
ul a:hover {
    color: coral;
}
.openingParagraph h1 {
    color: coral;
    font-size: 1.5em;
}
p {
    font-size: 1em;
    color: bisque;
    text-align: center;
}
.websitePic {
    width: 950px;
    height: 650px;
    padding-bottom: 2em;
}
table {
    width: 80%;
}
#basicSelectorsTH {
    font-size: 25px;
}
th {
    background-color: brown;
}
th, td {
    color: bisque;
    border: 1px solid beige;
    padding: 10px;
    line-height: 24px;
}
span {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 3px;
}
footer {
    color: white;
    padding: 20px;
    line-height: 25px;
}
